@import url("photographer.css");

body {width: 1440px;
    height: 1024px;
    margin: 0 auto; /* Centre la page horizontalement */
    font-family: "DM Sans", sans-serif;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 157px;
}

h1 {
    color: #901C1C;
    font-size: 36px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}



.photographer_section article {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement le contenu de l'article */
    text-align: center;
    line-height: 0.8;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.image-photographer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .country {
    color: #D3573C;
  }
  a {
    text-decoration: none;
}

a:visited {
    color: black; 
    text-decoration: none; /* Pour enlever le soulignement */
}

/*accessibilité*/
    
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}
